h3 span {
    font-size: 38px;
}

.container input {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 0.5;
    font-size: 12px;
}

ul,
li {
    padding-left: 1rem;
}

.dropdown {
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown p {
    padding: 0;
    cursor: pointer;
}

.dropdown p:hover {
    background-color: #f2f2f2;
}

#prefix {
    border-right: 1px dotted black;
    border-left: 1px solid black;
}

#serial {
    border-right: 1px dotted black;
    border-left: 1px dotted black;
}

.container {
    font-size: 12px;
}

.input-group {
    flex-wrap: nowrap;
}

.container input,
.input-group-text {
    padding: 0 2px;
}

.input-group-text {
    font-size: 12px;
}

.input-group-text span {
    size: 1rem;
}


.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.save-container {
    display: flex;
    justify-content: flex-end;
  }

  .save-btn {
    background-color: #007bff;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
  }
  
  .save-btn i {
    margin-right: 0.5rem;
  }