h3 span{
    font-size: 38px;
}
input {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-size: 12px;
}
.dropdown {
    width: 100%; /* Replace with the same width as the input */
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .dropdown p {
    padding: 5px;
    cursor: pointer;
  }
  
  .dropdown p:hover {
    background-color: #f2f2f2;
  }

#prefix {
    border-right: 1px dotted black;
    border-left: 1px solid black;
}

#serial {
    border-right: 1px dotted black;
    border-left: 1px dotted black;
}

.container{
    font-size: 12px;
}

.input-group{
    flex-wrap: nowrap;
}

.container input, .input-group-text{
    padding: 0 2px;
}
.input-group-text{
    font-size: 12px;
}

.input-group-text span{
    size: 1rem;
}


